.logo--medium {
    @apply w-36; /* Adjust width for medium logo */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar desplazamiento lateral inesperado */
}

.bg-background-image {
    @apply absolute inset-0 bg-fixed bg-cover bg-center h-full;
    background-image: url('../../../assets/img/Bg.png');
    @apply bg-petrack-green;
}

/* Cambiar la imagen de fondo para pantallas móviles */
@media (max-width: 640px) {
    .bg-background-image {
        background-image: url('../../../assets/img/movil_Bg.png');
    }
}