.profile-extra-large {
    @apply h-48 w-48 text-xl;
}

.profile-large {
    @apply h-12 w-12 text-lg;
}

.profile-medium {
    @apply h-10 w-10 text-base;
}

.profile-small {
    @apply h-8 w-8 text-sm;
}

.profile-extra-small {
    @apply h-6 w-6 text-xs;
}

/* Additional styles for Profile component */
.profile-container {
    @apply rounded-full bg-slate-400 flex items-center justify-center;
}

.profile-image {
    @apply w-full h-full rounded-full object-cover; /* Llena el contenedor */
}

.profile-placeholder {
    @apply text-gray-700 text-sm;
}