.input-container {
    @apply flex items-center border-4 border-gray-600 rounded-full px-4 w-full;
    @apply box-border;
    transition: border-color 0.3s ease, ring-color 0.3s ease;
    /* Transición suave para el color del borde y el color del anillo */
}

.input-container:focus-within {
    @apply ring-2 shadow-sm ring-gray-300;
    /* Añade un anillo gris claro cuando el campo de entrada está en enfoque */
}


.input {
    @apply w-full py-2 outline-none bg-transparent box-border;
    /* Asegura que los bordes se calculen bien */
}

.password-toggle {
    @apply cursor-pointer text-gray-500 hover:text-petrack-black ml-2;

}

.input--extra-large {
    @apply h-14 text-xl px-6;
}


.input--large {
    @apply h-12 text-lg px-5;
}


.input--medium {
    @apply h-10 text-base px-4;
}


.input--small {
    @apply h-8 text-sm px-3 border-2;
}

.input--extra-small {
    @apply h-6 text-xs px-2 border;
}


.custom-relative {
    position: relative;
    width: 24px;
    height: 24px;
}