.password-input-container {
    @apply flex items-center border-4 border-gray-300 rounded-full px-4;
    @apply box-border;
    transition: border-color 0.3s ease, ring-color 0.3s ease;
    /* Transición suave para el color del borde y el color del anillo */
}

.password-input-container:focus-within {
    @apply ring-2 shadow-sm ring-gray-500;
}

.password-input {
    @apply w-full py-2 outline-none bg-transparent box-border;
    /* Asegura que los bordes se calculen bien */
    position: relative;
    z-index: 1;

    /* Evita el fondo blanco del autocompletado de Chrome */
    &:-webkit-autofill {
        box-shadow: 0 0 0 1000px #f8f9fa inset; /* Cambia #f8f9fa a un color cercano al fondo */
        -webkit-text-fill-color: #000; /* Cambia el color del texto en autocompletado si es necesario */
        border-radius: inherit; /* Aplica el mismo borde redondeado */
    }

    /* Desactiva el estilo de fondo cuando el autocompletado está activo */
    &:-internal-autofill-selected {
        background-color: transparent !important;
    }
}

.password-input--extra-large {
    @apply h-14 text-xl px-6;
}

.password-input--large {
    @apply h-12 text-lg px-5;
}

.password-input--medium {
    @apply h-10 text-base px-4;
}

.password-input--small {
    @apply h-8 text-sm px-3 border-2;
}

.password-input--extra-small {
    @apply h-6 text-xs px-2 border;
}

/* styles.css or similar */
.eye-icon-transition {
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    display: inline-block;
}

.eye-icon-enter {
    opacity: 0;
    transform: scale(0.9);
}

.eye-icon-enter-active {
    opacity: 1;
    transform: scale(1);
}

.eye-icon-exit {
    opacity: 1;
    transform: scale(1);
}

.eye-icon-exit-active {
    opacity: 0;
    transform: scale(0.9);
}

.custom-relative {
    position: relative;
    width: 24px;
    height: 24px;
}