@keyframes draw-circle {
    from {
        stroke-dashoffset: 0;
        /* Longitud total del perímetro */
    }

    to {
        stroke-dashoffset: -63;
    }
}

.exit-circle-animation {
    stroke-dasharray: 63;
    stroke-dashoffset: 63;
    animation: draw-circle linear forwards;
}