.primary-font {
  font-family: 'Lato';
  src: url('./fonts/Lato-Regular.ttf') format('truetype'),
      url('./fonts/Lato-Bold.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-weight: 700;
  /* Bold */
  font-display: swap;
}

.secondary-font {
  font-family: 'Outfit';
  src: url('./fonts/Outfit-Regular.ttf') format('truetype'),
      url('./fonts/Outfit-Bold.ttf') format('truetype');
  font-weight: 400;
  /* Regular */
  font-weight: 700;
  /* Bold */
  font-display: swap;
}

